Actualisation_Datasets_PBI/definition.json
{"name":"a6607849-e115-44f8-a9a0-4ac7a92442d2","id":"/providers/Microsoft.Flow/flows/a6607849-e115-44f8-a9a0-4ac7a92442d2","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Déclencher un bouton Power BI avec une action personnalisée","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"18f6f61f-7aa9-46e2-8440-565a147e3475","type":"User","tenantId":"b1c93429-f289-4b31-bc74-50296c0f1c82"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-23T10:30:23.7890219Z","connectionKeySavedTimeKey":"2025-06-23T10:30:23.7890219Z","creationSource":"Power BI","modifiedSources":"Power BI;Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"operationMetadataId":"f94cb85f-1029-4cb8-9ad8-56e504bb011a"},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{},"required":[]},"host":{"connection":{"name":"@parameters('$connections')['shared_powerbi_1']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-westeurope-01.azure-apim.net/apim/powerbi"}},"operationId":"PowerBiButtonClicked","parameters":{"inputsPowerBiData":"{}","pbi_source":"powerAutomate"}}}},"actions":{"Refresh_a_dataset":{"runAfter":{},"metadata":{"operationMetadataId":"adc98f54-dbf9-4e14-a264-77b5b72baf0e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"RefreshDataset"},"parameters":{"groupid":"a5e37b15-a177-4fcb-8506-6cdbe017fedb","datasetid":"0f32faee-2ad9-495c-89c6-7d5d9dd1326e"},"authentication":"@parameters('$authentication')"}},"Actualiser_un_jeu_de_données":{"runAfter":{"Délai":["Succeeded"]},"metadata":{"operationMetadataId":"81af5e4f-ad70-430b-990d-b1d09000b9e4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi","connectionName":"shared_powerbi","operationId":"RefreshDataset"},"parameters":{"groupid":"myworkspace","datasetid":"16234072-4ca1-4195-9144-cf2989521dea"},"authentication":"@parameters('$authentication')"}},"Délai":{"runAfter":{"Refresh_a_dataset":["Succeeded"]},"metadata":{"operationMetadataId":"0f58054b-87da-4982-87e8-371e49f4617b"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Minute"}}}},"description":"Déclencher un bouton Power BI avec une action personnalisée"},"connectionReferences":{"shared_powerbi_1":{"connectionName":"shared-powerbi-94417488-8bc3-4872-a9c4-81e7669af6d0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_powerbi","tier":"NotSpecified","apiName":"powerbi","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_powerbi":{"connectionName":"shared-powerbi-8876aa79-a34e-4767-93c3-91b5a3cc5110","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_powerbi","tier":"NotSpecified","apiName":"powerbi","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}