Recuperation_Membres_Teams/definition.json
{"name":"ad5aaf50-8344-4a58-a399-fca03f19232a","id":"/providers/Microsoft.Flow/flows/ad5aaf50-8344-4a58-a399-fca03f19232a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Teams Manuelle","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"18f6f61f-7aa9-46e2-8440-565a147e3475","type":"User","tenantId":"b1c93429-f289-4b31-bc74-50296c0f1c82"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-30T12:56:39.9174895Z","connectionKeySavedTimeKey":"2025-06-30T12:56:39.9174895Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"97b3e72b-0fc0-456f-95c6-1f1c9cfa266b"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Répertorier_les_équipes":{"runAfter":{},"metadata":{"operationMetadataId":"6eb97887-f8db-4f61-bfec-aa2eee721029"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"GetAllTeams"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Appliquer_à_chacun_2":{"foreach":"@outputs('Répertorier_les_équipes')?['body/value']","actions":{"Répertorier_les_canaux":{"metadata":{"operationMetadataId":"f9bd55aa-7c52-478f-beac-b3e7249ea7c9"},"type":"OpenApiConnection","inputs":{"parameters":{"groupId":"@items('Appliquer_à_chacun_2')?['id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"GetChannelsForGroup"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Appliquer_à_chacun_3":{"foreach":"@outputs('Répertorier_les_canaux')?['body/value']","actions":{"List_members":{"metadata":{"operationMetadataId":"83315214-3382-4d10-9327-c27b76dd4218"},"type":"OpenApiConnection","inputs":{"parameters":{"threadType":"channel","body/recipient/groupId":"@items('Appliquer_à_chacun_2')?['id']","body/recipient/channelId":"@items('Appliquer_à_chacun_3')?['id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"ListMembers"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Appliquer_à_chacun":{"foreach":"@outputs('List_members')?['body/value']","actions":{"Ajouter_une_ligne_à_un_tableau":{"metadata":{"01FCKUDCVDQ5UUWQYBVRA3E7GPFUE54MP5":"/General/Mathias DEPUSSAY/PowerBi/Teams.xlsx","operationMetadataId":"3b320cf3-e6ec-44b5-bf33-36d9c2f1d14d","tableId":"{F4CCE0CA-E5F6-458E-BC20-8940246B662F}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/proactifrh.sharepoint.com,7d2948bf-6186-41ec-8979-d7e924485123,592c2fad-afb1-4bae-9ce0-e07f1fd20957","drive":"b!v0gpfYZh7EGJedfpJEhRI60vLFmxr65LnODgfx_SCVeeY2gF39vTSIblWqGJ0lQm","file":"01FCKUDCVDQ5UUWQYBVRA3E7GPFUE54MP5","table":"{F4CCE0CA-E5F6-458E-BC20-8940246B662F}","item/Colonne1":"@items('Appliquer_à_chacun')?['email']","item/Colonne2":"@items('Appliquer_à_chacun_3')?['displayName']","item/Colonne3":"@items('Appliquer_à_chacun_2')?['displayName']","item/Colonne5":"@utcNow()"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_members":["Succeeded"]},"metadata":{"operationMetadataId":"9319ccbc-de91-4bab-918a-dc3bf17a0c3f"},"type":"Foreach"}},"runAfter":{"Répertorier_les_canaux":["Succeeded"]},"metadata":{"operationMetadataId":"8991ba34-2796-4ef6-b73e-07c1f4641c95"},"type":"Foreach"}},"runAfter":{"Répertorier_les_équipes":["Succeeded"]},"metadata":{"operationMetadataId":"ccf81f09-0505-4c4b-be2a-d70ff790de0e"},"type":"Foreach"},"Exécuter_le_script":{"runAfter":{"Appliquer_à_chacun_2":["Succeeded"]},"metadata":{"01FCKUDCVDQ5UUWQYBVRA3E7GPFUE54MP5":"/General/Mathias DEPUSSAY/PowerBi/Teams.xlsx","tableId":null},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/proactifrh.sharepoint.com,7d2948bf-6186-41ec-8979-d7e924485123,592c2fad-afb1-4bae-9ce0-e07f1fd20957","drive":"b!v0gpfYZh7EGJedfpJEhRI60vLFmxr65LnODgfx_SCVeeY2gF39vTSIblWqGJ0lQm","file":"01FCKUDCVDQ5UUWQYBVRA3E7GPFUE54MP5","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01NJKUYOMFTI5CNJLKRBGYR6OARBJ7DWMO"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-5b5a5665-3062-4e35-9688-38a9c74c246b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-24761841-5302-40f5-a98a-d8dfe890fcbd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}
